.container
  .row.header-xtg
    .col-md-12
      %h1
        Design graphique
        = image_tag "xtg/logo-xtg2.png"
        Publication digitale


.container-full.menu-xtg
  .row.transition
    .col-md-12

  .container
    .row
      .col-md-3
        %nav 
          .titres-menu
            Identité & edition
      .col-md-3
        %nav 
          .titres-menu
            Illustrations
      .col-md-3
        %nav 
          .titres-menu
            Web
      .col-md-3
        %nav 
          .titres-menu
            Publications digitales

.container
  .row.image-principale
    .col-md-12
      = image_tag "phb/main-phb-2.jpg"
  .row
    .col-md-4
      %p.info-tech
        Client : PhB Conseil
        <br/>
        Design : Xavier Trannoy

    .col-md-8
      %h2 
        PhB Conseil
      %p
        Conception d'un logotype et d'un set de papeterie pour l'agence de conseil RH : PhB Conseil

.container
  .row.surtitre
    .col-md-12
      %h3
        Détails du projet