.container.header-xtg
  .row
    .col-md-12
      = image_tag "xtg/logo-xtg.png"
      %h1 Design graphique - Publications digitales

.container-full.menu-xtg
  .container
    .row
      .col-md-3
        %nav 
          .titres-menu
            Identité & edition
      .col-md-3
        %nav 
          .titres-menu
            Illustrations
      .col-md-3
        %nav 
          .titres-menu
            Web
      .col-md-3
        %nav 
          .titres-menu
            Publications digitales


.container
  .row.image-principale
    .col-md-12
      = image_tag "xtg/main-ppr.jpg"
  .row
    .col-md-4
      %p.info-tech
        Client : Fondation PPR
        <br/>
        Design : Xavier Trannoy
    .col-md-8
      %h2 
        Fondation PPR
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  .row.surtitre
    .col-md-12
      %h3
        Détails

.container-full.chapitre-terre
  .container
    .row
      .col-md-8
        = image_tag "xtg/ppr1.jpg"
      .col-md-4
        %h3 
          Rapport d'activité 2011
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .row.details
      .col-md-4
      .col-md-4
      .col-md-4

.container
  .row.surtitre
    .col-md-12
      %h3
        Autre partie





