.container
  .row.header-xtg
    .col-md-12
      %h1
        Design graphique
        = image_tag "xtg/logo-xtg2.png"
        Publication digitale


.container-full.menu-xtg
  .container
    .row
      .col-md-3
        %nav 
          .titres-menu
            Identité & edition
      .col-md-3
        %nav 
          .titres-menu
            Illustrations
      .col-md-3
        %nav 
          .titres-menu
            Web
      .col-md-3
        %nav 
          .titres-menu
            Publications digitales


.container.image-principale
  .row
    .col-md-12
      = image_tag "xtg/main-fond-gregorutti.jpg"
  .row
    .col-md-4
      %p.info-tech
        Client : ArtenetrA
        <br/>
        Photographie : Xavier Trannoy
    .col-md-8
      %h2 
        Fabrice Gregorutti
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  .row.surtitre
    .col-md-12
      %h3
        détails

  .row
    .col-md-4
      = image_tag "xtg/cd-gregorutti.jpg"
    .col-md-4
      = image_tag "xtg/cd-gregorutti.jpg"
    .col-md-4
      %h3 
        Fabrice Gregorutti
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo      







