$gutter: 20px;

$vertfonce: #0da57c;
$vertclair: #82cca6;
$roseclair: #c70054;
$rosefonce: #9d0030;
$bleuciel: #b5e0f7;
$bleuroi: #64aed6;
$bleufonce: #2683b6;
$violetfonce: #5444bb;    /* 6644bb */
$violetclair: #9da3f0;    /* a39df0 */
$brunfonce: #948246;
$brunclair: #e4c78b;
$orangeclair: #f5de75;
$orangefonce: #f9c01f;


