
.menu-xtg{
  padding: 5px 0;
  text-align: center;
  //background-color: #eee;
  background-image: image-url('textures/mochaGrunge.png');
}


.titres-menu{
  font-family: "ff-tisa-web-pro";
  font-style: italic;
  font-weight: 400;
  font-size: 18px; 
  color: #fff;
}  