

.image-principale{
  margin-top: 20px;
  text-align: center;
  img{
    max-width: 100%;
  }  
}

p.info-tech{
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}




.surtitre{
  margin-top: 30px;
  text-align: center;
  h3{
    font-family: "proxima-nova";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .blanc{
    color: #fff;
    margin-top: 0px;
  }
}





.details{
  margin-top: 20px;
  text-align: center; 
  img{
    max-width: 100%;
  }
}

.chapitre-blanc{
  margin: 20px 0px;
  img{
    max-width: 100%;
    //margin: 20px;
  }
  h3{
    margin-top: 60px;
  }
}

.fond-noir{
  background-image: image-url('textures/rubber_grip2.png');
  padding: 20px 0;
  img{
    max-width: 100%;
  }
}



.textes-blancs{
  h3{
    margin-top: 60px;
    color: #fff;
  }
  p{
    color: #bbb;
    font-size: 14px;
  }
  p.exergue{
    padding-top: 40px;
    font-family: "proxima-nova";
    font-weight: 100;
    font-size: 24px;
    max-width: 80%;
  }
}

.chapitre-bois{
  background-image: image-url('textures/natural_paper2.jpg');
  padding: 20px 0;
  h3{
    margin-top: 60px;
  }
  p{
    font-size: 14px;
  }
  p.exergue{
    padding-top: 40px;
    font-family: "proxima-nova";
    font-weight: 100;
    font-size: 30px;
    max-width: 80%;
  }
  img{
    max-width: 100%;
  }
}




.legendes-blanches{
  text-align: center;
  margin-top: 20px;
  h4{
    font-family: "proxima-nova";
    font-size: 12px;
    //text-transform: uppercase;
    color: #b78c78;
    letter-spacing: 1px;
  }
}



.terre-battue{
  margin-top: 60px;
  background-image: image-url('textures/green_cup3.png');
  padding: 20px 0;
  h3{
    margin-top: 60px;
  }
  p{
    font-size: 14px;
  }

  img{
    max-width: 100%;
  }
}





.mur-gris{
  margin-top: 40px;
  background-image: image-url('textures/sandpaper.png');
  padding: 20px 0;
  h3{
    margin-top: 60px;
  }
  p{
    font-size: 14px;
  }
  img{
    margin-top: 20px;
    text-align: center;
    max-width: 100%;
  }

}







